[2018-02-15 07:36] avivl opened #1 "list/delete policies/schedules"

[2018-02-15 08:03] #1 closed, assigned to nobody

[2018-02-15 10:24] avivl opened #3 "remove cron"

[2018-02-15 10:26] #3 closed, assigned to nobody

[2018-02-18 07:56] avivl opened #5 "Add docs and backoff"

[2018-02-18 08:48] #5 closed, assigned to nobody

[2018-02-27 14:32] yechiel-optimalq opened #13 "Supporting pre-shutdown steps"
Pre-shutdown steps can assist in cleaning up / disabling specific resources and allowing a controlled shutdown process from the scheduler.

Also, I think it'll be good to execute shutdowns in parallel (if its not already so )

[2018-02-27 20:41] avivl commented on #13
@yechiel-optimalq would https://cloud.google.com/compute/docs/shutdownscript handle this your needs?

[2018-02-28 13:25] spark2ignite commented on #13
@avivl - shutdown scripts are not guaranteed and at max, they support 30 seconds.

[2018-03-02 06:25] spark2ignite commented on #13
@yechiel-optimalq  you might implement this feature using SSH and delayed task queue execution.

Connect via SSH to the instance, execute shutdown task/s (perhaps you can read which script to run from instance/project metadata) and put deferred task to stop the instance using App Engine Task Queues.

[2018-03-19 09:42] Dror88 opened #19 "Edit policy selects first schedule from the list"
When editing a policy, the select input automatically selects the first schedule item from the list instead of the actual schedule the policy is using.

Expected behaviour: populate the select input with the correct schedule the policy is using.

[2018-03-26 02:42] ebonydad opened #20 "Receiving 404s after installing..."
After installing in AppEngine, when going to the URL, getting the following error:

Error: Not Found
The requested URL /docs/ was not found on this server.

When running logging, this is the following error I am receiving:

2018-03-09 18:39:44 default[20180309t123900]  "GET / HTTP/1.1" 200
2018-03-09 18:42:24 default[20180309t123900]  "GET / HTTP/1.1" 200
2018-03-09 18:42:24 default[20180309t12390

[2018-03-26 13:36] #19 closed

[2018-03-26 14:35] ebonydad commented on #20
I get the "Error: Not Found" when going to the project-id URL.

There are no build folders that have been generated.

I have been deploying the app from the Cloud Shell for the project.

[2018-03-26 16:16] viction opened #22 "Enable Compute Engine API in Project"
This isn't an bug per se, nor issue with Zorya, but rather a required setting in the GCP project - Compute Engine API must be enabled.

I had continuous, unrelated errors in the logs  around size of memcached object?! I finally uncovered this setting in the project.  Once enabled, worked like a charm!

Suggestion: You could add to your readme that you must also enable compute engine API (https://c

[2018-03-26 18:39] #22 closed

[2018-03-28 07:30] Dror88 commented on #20
You can try to deploy it not from cloud shell and report back if the issue persists.
At the moment we do not have a solution for the issue when deploying from cloud shell.

[2018-04-04 16:05] tormath1 opened #23 "Glitch in the matrix (name is seeing as id)"
Hey guys, thanks for this tool.

I found a tiny bug:

When you add a `schedule` with an integer name like: `123456789` the name will be considered as an `id` into the database and not as a `name`.

![image](https://user-images.githubusercontent.com/28657343/38319598-765eda56-3832-11e8-9a85-1e06bfb9e2a7.png)

And the result is that you can't edit or delete this element. You need to delete it direct

[2018-04-04 16:10] avivl commented on #23
@tormath1 a PR will be great!
Thanks
CC @Dror88

[2018-04-05 11:37] tormath1 commented on #23
@avivl I am not able to reproduce this bug... I don't know what happened. Moreover, we are sure that name will be saved as a string... ([model](https://github.com/doitintl/zorya/blob/master/model/schedulesmodel.py#L10)).
It was a real glitch in the matrix. :open_mouth:

[2018-04-05 12:17] Dror88 commented on #23
I could reproduce this when creating a schedule without a name,
so request.json['name'] in [add_schedule](https://github.com/doitintl/zorya/blob/master/main.py#L59) is probably an empty string (or None?) and then the ID is auto-generated.
we need to validate the user input, I'll try to do that next week

[2018-04-18 22:33] nigesh18 opened #24 "VM state not changing"
Hi Guys,

I'm new to Zorya, I just deployed Zorya using ./deploy.sh project-ID from MacOS

Logged into Dashboard -> created schedule 24hrs -> created policy with schedule, project-id, tags[keep-alive:true]

I verified the tags(labels) are rightly mapped using below command.
gcloud compute instances list --filter labels.keep-alive=true

Everything looks good cron completed successfully, but the VM

[2018-04-19 18:43] avivl commented on #24
@nigesh18 can you share a screenshot of your schedule?

[2018-04-19 19:42] nigesh18 commented on #24
@avivl

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/38511334/39014355-20637dca-43e8-11e8-80a9-c1f2d08c57ec.png">

is that right?

[2018-04-22 05:28] avivl commented on #24
@nigesh18 from the schedule it looks like that at 18:00 the vm should be and that's why zoarya did not change it state

[2018-04-23 04:38] avivl commented on #24
@nigesh18 can you attach the logs of the last 72 hours?

[2018-04-23 15:12] wlodekbielski opened #25 "Cannot upload file - too big"
Hi guys,

Just encountered the following error while running Zorya installer - I assume this is due to 35 MB limitation in Google App Engine Standard itself.
Is this something you've experienced before? Any ideas on how to overcome this?
Thanks a to in advance!

![image](https://user-images.githubusercontent.com/21252231/39135435-3619ad5e-4719-11e8-8283-0b186cab2a11.png)

[2018-04-24 06:10] Dror88 commented on #25
@wlodekbielski this error happens when deploying from cloud shell, we still haven't got to the bottom of this but as a workaround you can try deploying from your local machine.

[2018-04-24 20:39] wlodekbielski commented on #25
Thanks for prompt answer! I actually install directly on GCE VM - connected there with SSH. So not using Cloud Shell.. Will give it another try though!

[2018-04-25 04:39] nigesh18 commented on #24
Your right, the VM state did change my bad! i was impatient i tried manually running cron on app engine cron service and expecting VM state change but it doesn't. Does manual trigger work?

[2018-04-25 04:41] avivl commented on #24
@nigesh18 if you run it manually we still check against the policy

[2018-04-25 04:41] #24 closed

[2018-04-25 04:46] nigesh18 opened #27 "Makings tags optional? - Powering off all running VM in project without tags specified at night"
Is there a way we can allow tags empty so all VM running on projects without tags can be powered off at given schdule?

i just want to power-off newly created running VM without tags! at night!

Thank you so much for zorya, i'm starting to like it more :)

regards,
nigesh

[2018-04-25 04:50] avivl commented on #27
Hi, @nigesh18 we currently do not have a plans fur such a feature. However, you are always welcome to submit a PR

[2018-04-25 14:28] avivl commented on #24
Not without the logs

[2018-04-27 10:31] wlodekbielski commented on #25
All works fine, when I used fresh VM - so please let's consider this issue as closed.

[2018-04-27 10:31] #25 closed

[2018-05-07 21:26] haf opened #28 "Deploy on kubernetes?"
I'm in cost-optimisation mode right now ;), so I must have found the right place.

I'd like to host this; but we have a fat kubernetes cluster available. Can I host zorya there rather than having to set up a new VM instance?

[2018-05-08 04:42] #27 closed

[2018-05-08 04:43] avivl commented on #28
@haf
Zorya in running on top of App Engine. No need to set up a new VM

[2018-05-10 14:18] #28 closed

[2018-05-10 14:19] haf opened #29 "Service Accounts cannot be created on org level"
From your README:

<img width="1002" alt="screen shot 2018-05-10 at 16 18 53" src="https://user-images.githubusercontent.com/193115/39874383-ddf8e93e-546d-11e8-8866-48d84758c354.png">

[2018-05-10 14:25] haf opened #31 "README is missing text for the role to create the service acct with"

[2018-05-10 14:34] haf commented on #31
See #32

[2018-05-10 14:36] haf opened #33 "Names with slashes in them crashes the UI"
E.g. `Forseti client/server turned on`

[2018-05-10 14:45] haf opened #34 "Feature request: Extend to support "Cloud SQL""
It would be great to have support for shutting down databases as well as the apps (instances)

[2018-05-10 15:39] Dror88 commented on #33
just to make sure, you mean the schedules names right?

[2018-05-10 18:13] haf commented on #33
Yes

[2018-05-10 18:13] #31 closed

[2018-05-10 18:13] haf commented on #31
Fixed when #32 merged

[2018-05-10 18:20] haf opened #35 "Question: Zorya didn't shut down the instances"
I have these two instances I want shut down when there's no human there to review their output:

<img width="485" alt="screen shot 2018-05-10 at 20 14 05" src="https://user-images.githubusercontent.com/193115/39886106-be9caffa-548e-11e8-9060-2b3124f5cf52.png">
<img width="269" alt="screen shot 2018-05-10 at 20 18 52" src="https://user-images.githubusercontent.com/193115/39886294-5f311ef6-548f-11e8

[2018-05-13 05:29] avivl commented on #35
The log is from 17:00 Stockholm time which set to be working time in your schedule

[2018-05-13 05:57] avivl commented on #34
We do not have such plans. But PR's are always welcome

[2018-05-13 05:57] #34 closed

[2018-05-13 11:13] haf commented on #35
Yes, the logs include 17:00. But what do the logs mean? I'm having trouble interpreting them; and the app is logging an error?

[2018-05-13 11:14] haf commented on #34
Ok, thanks for answering and accepting PRs.

[2018-05-13 11:15] avivl commented on #35
If current state== desired state no action will be done

[2018-05-13 11:17] haf commented on #35
I guess what I'm missing from the logs are the instance ids that it's comparing the state of; logs should allow me to validate the assumption that the 1) labels are correct, 2) zorya is correcting listing and iterating through the instances in question. They are not now.

[2018-05-13 11:32] avivl commented on #35
Actually, the instance id is in the logs.
[code]

In your case, the time was 17 and the VM was up and the policy for the same time was up as well so no action was needed.

[2018-05-13 11:55] haf commented on #35
<img width="1295" alt="screen shot 2018-05-13 at 13 49 55" src="https://user-images.githubusercontent.com/193115/39967020-0b6faeea-56b5-11e8-860b-ad72b7adf283.png">

Ok, so there's no logging of instance ids on no-ops then?

Above is a crash that seems to happen while listing the instances.

[2018-05-13 11:59] avivl commented on #35
Yep no logging on no-ops.
It's not a crash it's  "normal" for app engine

[2018-05-13 12:44] #35 closed

[2018-05-22 21:16] ZachDev1 commented on #20
This is still an active bug. Build folders are not being generated from local or cloud.

[2018-06-02 20:54] j45p41 opened #36 "Timezone /Policy does not set"
Hi,

thanks for the effort in building this solution. I beleive I have followed all the instrcutions. However after launching the front end - I try to set a schedule but the timezone keeps dissaprearing. Also there is no input allowed under policies. Here is what I have setup under IAM:

![image](https://user-images.githubusercontent.com/36424813/40880787-107b39cc-66af-11e8-9b91-f645813ad588.png)

[2018-06-03 05:56] avivl commented on #36
@j45p41
Did you follow all the instructions in the readme file?
Can you run the deploy script and share the output?

CC @Dror88

[2018-06-03 18:27] j45p41 commented on #36
I have also attached the log.

[log.txt](https://github.com/doitintl/zorya/files/2066238/log.txt)

[2018-06-03 19:10] avivl commented on #36
Did you run `pip install -r requirements.txt -t lib` before the install?

[2018-06-04 06:41] avivl commented on #36
Your pip install fails.
Which python version are you using?

[2018-06-04 09:08] j45p41 commented on #36
Thanks for the response. I am using 3.6 with Anaconda build.
I did try to build this on a new machine with python 2.7 and got the same issue.
Should I be running pip3?

[2018-06-04 09:10] avivl commented on #36
no pip2

On Mon, Jun 4, 2018 at 12:08 PM j45p41 <notifications@github.com> wrote:

--

Aviv Laufer
| DoiT International
| phone: +972-54-5365536
| email: aviv@doit-intl.com
Follow me: [image: linkedin] <https://www.linkedin.com/in/avivl/>[image:
twitter] <https://twitter.com/avivl>[image: medium]
<https://medium.com/@avivl>[image: github] <https://github.com/avivl>

[2018-06-04 10:04] j45p41 commented on #36
Hi there,

so I get the same error with Nump version 1.6.1 but all the other components install correctly.

here is a list of what i have installed:

[code]

I have rerun the deploy script - still the same issue. Any suggestions?

[2018-06-04 10:17] j45p41 commented on #36
okay - so now I can see entries in the policies tab - but the timezone still does not allow me to create a schedule - hopefully moving closer :)

[2018-06-04 10:21] avivl commented on #36
can you send me the logs?

On Mon, Jun 4, 2018 at 1:17 PM j45p41 <notifications@github.com> wrote:

--

Aviv Laufer
| DoiT International
| phone: +972-54-5365536
| email: aviv@doit-intl.com
Follow me: [image: linkedin] <https://www.linkedin.com/in/avivl/>[image:
twitter] <https://twitter.com/avivl>[image: medium]
<https://medium.com/@avivl>[image: github] <https://github.com/avivl>

[2018-06-04 12:20] j45p41 commented on #36
okay. I am going to start from scratch. May I ask what VM image you tested zorya on?

[2018-06-04 14:02] avivl commented on #36
Zorya is running on app engine.
I'm not sure that I understand the question

On Mon, Jun 4, 2018 at 3:20 PM j45p41 <notifications@github.com> wrote:

--

Aviv Laufer
| DoiT International
| phone: +972-54-5365536
| email: aviv@doit-intl.com
Follow me: [image: linkedin] <https://www.linkedin.com/in/avivl/>[image:
twitter] <https://twitter.com/avivl>[image: medium]
<https://medium.com/@avivl>[image:

[2018-06-04 14:53] j45p41 commented on #36
ah -ok. So what I am doing is creating an ec2 instance with image such as ubuntu 16.04 LTS allowing API access. Once launched I am installing python-pip, clone zorya, install requirements, install yarn, deploy.

I suspect this is what I am supposed to do? if so what image are you using - or have i got it all wrong? :)

[2018-06-05 04:43] avivl commented on #36
Zorya was not meant to run in AWS it's is for GCP only

On Mon, Jun 4, 2018 at 5:54 PM j45p41 <notifications@github.com> wrote:

--

Aviv Laufer
| DoiT International
| phone: +972-54-5365536
| email: aviv@doit-intl.com
Follow me: [image: linkedin] <https://www.linkedin.com/in/avivl/>[image:
twitter] <https://twitter.com/avivl>[image: medium]
<https://medium.com/@avivl>[image: github] <https://gith

[2018-06-07 06:56] dimagalat opened #37 "Couldn't deploy the app"
Hi guys,

When trying to run deploy.sh I get the following error:

I suspect that it's a trivial issue with yarn, but I don't know how to fix it.

Thanks

[2018-06-07 07:04] avivl commented on #37
Are you trying to install from cloud shell?
https://github.com/doitintl/zorya/issues/25

[2018-06-07 07:29] dimagalat commented on #37
I am. Thanks!

[2018-06-07 07:29] #37 closed

[2018-07-05 09:57] #36 closed

[2018-07-05 09:57] avivl commented on #33
@Dror88 ?

[2018-08-22 08:43] sgrard opened #39 "Issue when trying to stop/start a VM"
Hi guys,

First of all, thank you for this tool that is very useful.

I am facing an issue when I try to stop/start a VM instance.
What I want to do is to stop/start a specific VM from a specific project. To do that I have added a label to this VM.

Here is the log trace :
![log_trace](https://user-images.githubusercontent.com/42603377/44453163-b449ad80-a5f8-11e8-909a-31156cef8fdb.png)

Do you hav

[2018-08-22 20:15] avivl commented on #39
@sgrad I'm out of the office for the next 10 days. I'll look into this issue once I'm back.

Aviv

[2018-08-23 22:50] RodolVelasco opened #40 "Critical Error on StackDrive logging. Memcache when trying to change the state of a VM"
I getting this error "Error: not found" after execution in Google Cloud Shell of ./deploy.sh after I git clone zorya project from github.

I don't understand how to provide access via IAP or IAM to the app.

### UPDATE 2018-08-31
I executed installation steps in a GCE instance. Before that, I installed everything needed like nodejs v6 >=
Then I got this error
`ERROR: (gcloud.app.deploy) Cannot upl

[2018-08-30 14:51] RodolVelasco commented on #39
@sgrard I have tried installing zorya without success. Any recommendation how to do it correctly?

[2018-08-31 16:54] acazan commented on #25
This issue can be resolved by removing numpy==1.6.1 from requirements.txt file. It is not required to be uploaded to appengine as it is already on the list of built-in libs in appengine: https://cloud.google.com/appengine/docs/standard/python/tools/built-in-libraries-27

numpy has to show though in app.yaml:
- name: numpy
  version: "1.6.1"
so it will be loaded at runtime....

[2018-09-03 12:06] #23 closed

[2018-09-03 12:10] #33 closed

[2018-09-03 13:32] Dror88 commented on #40
@RodolVelasco

1) You can ignore the memcache warnings (ValueError: Values may not be more than 1000000 bytes in length; received 1520136 bytes"). It happens when building the compute service  discovery.build('compute', 'v1', credentials=CREDENTIALS) but it should still work.

2) The other "error" is not really an error:
[code]
This is just a log that was written in ERROR severity for some reason,

[2018-09-03 13:32] #40 closed

[2018-09-03 13:38] Dror88 commented on #20
Closing due to inactivity.

If no build folder is generated make sure you have installed yarnpkg correctly (and that you don't have any conflicts with apache hadoop YARN commands...)

[2018-09-03 13:38] #20 closed

[2018-09-03 13:44] Dror88 commented on #39
@sgrard did you run `pip install -r requirements.txt -t lib`?

[2018-09-03 13:58] sgrard commented on #39
@Dror88 : yes I did it.
I had an issue with the version of _numpy_ I guess (but I just noticed that you removed it from the file).
If I remember well I fixed by removing the version, so I installed the version of 1.15.1 instead of 1.6.1

After that I was able to continue the installation.

[2018-09-03 14:02] Dror88 commented on #39
Yes, I removed it from the requirements because it's already [built-in in appengine](https://cloud.google.com/appengine/docs/standard/python/tools/built-in-libraries-27).

I gather it's working for you now?

[2018-09-03 15:27] sgrard commented on #39
The installation is ok I think. But I am still not able to make zorya work and I still have the error in the logs when I try to make zorya start/stop a VM.

[2018-09-04 14:10] RodolVelasco commented on #39
@sgrard when I was trying to make zorya work, I encounter three main blockers, those were:

1. **Label**(key+value) need to be set into VMs parameters.
2. Once in Zorya, green squares are going to define the schedules when the VM is going to be ON.
3. Service Account needs to be defined in AIM as Admin for GCE Admin (v1)

[2018-09-04 15:31] spark2ignite commented on #39
@RodolVelasco - were you able to get Zorya work eventually or these blockers still exist for you?

[2018-09-05 01:51] RodolVelasco commented on #39
@spark2ignite yes, I was able to install/configure zorya and start/stop VMs successfully by cloning master on Wednesday from last week. The only thing I'm having is an error message shown on stackdriver but posted [here](https://github.com/doitintl/zorya/issues/40#event-1823532142) and by today It should be fixed as I understood.

[2018-09-13 17:26] Hitamashi opened #42 "Deploy error at yarn build: Module not found"
Hello,

I try to deploy `zorya` with cloud shell. But problems occurs when I deploy the app with `.\deploy.sh <my-project>`.
I try to re-run the deploy.sh script step-by-step. And the problem occur at `yarn build`.
Here is the log:

[code]

Could you please help me with this?

[2018-09-16 06:47] #42 closed

[2018-09-17 10:27] Dror88 commented on #39
green: instances are ON,
grey: instances are OFF

we should probably add some legend for this

[2018-09-17 10:30] sgrard commented on #39
@Dror88 : in fact it's quite obvious, but from my understanding of the logs I was wondering if it was the opposite.

[2018-09-17 10:44] Dror88 commented on #39
What did you see in the logs that made you think the opposite?

It also doesn't change the state of instances when the schedule's previous state is the same as the next state. e.g. say your schedule is to turn instance off from 8:00 PM to 7:00 AM daily.
if the instance is turned ON manually at 9:30 PM, it will not be turned off at the next cycle (10:00 PM) because it should only turn off instances

[2018-09-17 11:44] Dror88 commented on #39
Please note that when it says "previous state" it means the schedule's state, which is the schedule's setting for the previous hour. It does not mean an actual instance state (whether it is on or off). These logs are about the schedule and not VMs.

Instances will be affected in these cases:
`Previous state 0 (off) current 1 (on)` => instances that match the policy will be turned on.
`Previous sta

[2018-09-17 11:50] sgrard commented on #39
@Dror88 :  I found the reason, it was quite idiot. The queues were paused.
I freed it, run the last task and it worked.

Let me just double checking it at 2pm and 3pm and if it works (I am sure it will) then I will close the issue.

[2018-09-17 13:04] sgrard commented on #39
@Dror88 : it's now completely working.
Thank you for your help (thanks also @RodolVelasco). I am closing the issue   :-)

[2018-09-17 13:04] #39 closed

[2018-09-17 16:28] dmz006 opened #44 "Installed and appears to work but IAP auth errors"
I've added multiple google accounts to the IAP deployed app and keep getting the following error when trying to authenticate:

There was a problem with your request. Error code 11

This is coming from URL: https://appID.appspot.com/_gcp_gatekeeper/authenticate?state=XXXXX&scope=https://www.googleapis.com/auth/plus.me+https://www.googleapis.com/auth/userinfo.email&authuser=0&session_state=XXXXX&pro

[2018-09-17 18:01] spark2ignite commented on #44
@dmz006 , in fact, we didn't test Zorya with Google IAP. My assumption is something wrong with IAP configuration but this goes beyond the scope of Zorya. Make sense?

[2018-09-28 03:09] jdrews opened #45 "Warn users before shutting down; allow users to postpone/cancel shutdown"
Requesting new feature to warn a user that VMs are shutting down soon. Provide the user the ability to postpone (1 hr/2 hr/etc) or cancel the shutdown.

I'm thinking this might be pretty neat over [gslack](https://github.com/doitintl/gslack).

[2018-10-02 05:08] avivl commented on #45
@jdrews I don't have the bandwidth for now to extend Zorya. However, PR's are more than welcome

[2018-10-22 20:18] duprefm opened #46 "Reduce GKE k8s clusters"
Can you implement the possibility to reduce k8s GKE clusters ?

[2018-10-23 04:21] spark2ignite commented on #46
@duprefm - I think it's a reasonable request. Can you please provide a short overview of your use-case so would could better plan this feature?

[2018-10-23 16:02] gururajahegde opened #47 "hour 23 is not visible when launcher bar is set vertical on ubuntu"
pls change bellow line to overflow: 'scroll',

https://github.com/doitintl/zorya/blob/099c994da26fe211acc63a8b31e4b3401abcd99d/client/src/modules/components/AppFrame.js#L56

[2018-11-10 02:13] jchavezar opened #48 "Not Shutting down Instances"
Hi there I cant find a solution for this, Zoyra is not shutting down VMs with tag na na;

Logs say nothing should be done for the policy and I cant find anything else...

![screenshot 2018-11-09 at 8 11 30 pm](https://user-images.githubusercontent.com/13111050/48296391-e03c3880-e45b-11e8-8317-de0981d83b28.png)
![screenshot 2018-11-09 at 8 11 07 pm](https://user-images.githubusercontent.com/1311105

[2018-11-10 19:42] unk1nd0n3 opened #49 "Cloud SQL instance shutdown"
Hi,

may I ask you to add functional for shutdown and start of SQL instances. Please see below some code for this:

[code]

Thank you

[2018-11-11 12:28] avivl commented on #49
@unk1nd0n3 done

[2018-11-11 12:28] #49 closed

[2018-11-12 15:33] jchavezar commented on #48
Hi, Avivl! sure:

 httpRequest: {
  status:  200
 }
 insertId:  "5be99570000c179e8c991409"
 labels: {
  clone_id:  "00c61b117c017608363f94675dc00ab50a10add22dd5de8755fef5638ffb9bf07013fe2b959a"
 }
 logName:  "projects/jesusc-221515/logs/appengine.googleapis.com%2Frequest_log"
 operation: {
  first:  true
  id:  "5be9957000ff074eed7e9fe3580001737e6a65737573632d32323135313500013230313831313039743138

[2018-11-13 04:56] gururajahegde commented on #48
as per schedules screenshot machine should start at 2 am(-6[CST6CDT] = 20:00:00) and shutdown at 3 am(21:00:00),    above log is of 15:00:00.  So it wont take any action even if machine is up at 15:00:00, zorya would shutdown the machine.

[2018-11-13 08:48] avivl commented on #48
From the log` Previous state 0 current 0` so no action is required

[2018-11-13 21:38] jchavezar commented on #48
heres is the second try, but nothing happened;

2018-11-13 15:00:01.518 CST
GET
200
61 B
255 ms
AppEngine-Google; (+http://code.google.com/appengine)
/tasks/schedule
 0.1.0.1 - - [13/Nov/2018:15:00:01 -0600] "GET /tasks/schedule HTTP/1.1" 200 61 - "AppEngine-Google; (+http://code.google.com/appengine)" "default.jesusc-221515.appspot.com" ms=255 cpu_ms=32 cpm_usd=6.817e-9 loading_request=0 instance

[2018-11-13 21:40] jchavezar commented on #48
{
 httpRequest: {
  status:  200
 }
 insertId:  "5beb3b520001a5d21a7d75e7"
 labels: {
  clone_id:  "00c61b117ccaf889794a3655220e5481b58d9a5f92fcaac38f660e36c091c4856026d0"
 }
 logName:  "projects/jesusc-221515/logs/appengine.googleapis.com%2Frequest_log"
 operation: {
  first:  true
  id:  "5beb3b5100ff0d113dd29cc1be0001737e6a65737573632d3232313531350001323031383131303974313835363235000100"
  last

[2018-11-13 21:41] jchavezar commented on #48
![image](https://user-images.githubusercontent.com/13111050/48444781-8a68d880-e75a-11e8-9eae-09ad94b4a9a8.png)

[2018-11-14 06:46] avivl commented on #48
The logs are really hard to read please paste them as code using the markdown tags

[2018-11-20 18:38] jchavezar commented on #48
sorry about that:

Here you have...

[
  {
    "protoPayload": {
      "@type": "type.googleapis.com/google.appengine.logging.v1.RequestLog",
      "appId": "s~jesusc-221515",
      "versionId": "20181109t185625",
      "requestId": "5bf44ba100ff029cbc8ab5ef0c0001737e6a65737573632d3232313531350001323031383131303974313835363235000100",
      "ip": "0.1.0.2",
      "startTime": "2018-11-20T18:00:01.

[2018-11-20 18:48] jchavezar commented on #48
Sorry my bad, there you have...

[code]

[2018-11-22 09:15] unk1nd0n3 commented on #49
Thanks a lot

[2018-11-22 19:48] jchavezar commented on #48
Ok I have looked closer and I have found some errors:
VM instance is on and it should stop at 13:00pm CST:

![image](https://user-images.githubusercontent.com/13111050/48920153-db648500-ee5c-11e8-9263-23b13a9155c4.png)

![image](https://user-images.githubusercontent.com/13111050/48920163-e7504700-ee5c-11e8-9e38-a5dcace4919d.png)

![image](https://user-images.githubusercontent.com/13111050/48920181

[2018-11-22 19:51] jchavezar commented on #48
More info about warning:

![image](https://user-images.githubusercontent.com/13111050/48920289-adcc0b80-ee5d-11e8-9d5b-0d54d1268b93.png)

´´´{
 insertId:  "5bf6fcb9000eaccf0fa55bb4"
 labels: {
  clone_id:  ""
 }
 logName:  "projects/jesusc-221515/logs/appengine.googleapis.com%2Frequest_log"
 operation: {
  first:  true
  id:  "5bf6fcb600ff08a2259ad3b4cb0001737e6a65737573632d32323135313500013230313

[2018-11-22 20:47] jchavezar commented on #48
[code]

[2018-11-22 20:48] jchavezar commented on #48
[code]

[2018-12-08 16:32] duprefm commented on #46
i need to shutdown k8s clusters and all off these node pools. i already made a python script who shutdown instances groups who got partuculars tags.

[2019-02-05 11:50] appaltitalia opened #52 "after install not work"
hi i have install zorya but the scheduler don't work.. can you help me?

[2019-02-05 11:55] avivl commented on #52
Can you share more details, such as logs, the schedule etc?

[2019-02-09 18:25] afahmymcd commented on #52
Same here, made everything, set schedule, policy tags, everything seem to be installed nicely, and I have the webpage fired up, after setting the schedule and waiting .. nothing happens
Please fix

[2019-02-10 05:54] avivl commented on #52
@appaltitalia @afahmymcd without logs and configuration there is not much that I can do

[2019-02-15 11:23] afahmymcd commented on #52
@avivl Kindly find logs below when the event is triggered,
Putting tag sleeping to instance and in zorya policies

0.1.0.2 - - [14/Feb/2019:17:00:00 +0200] "GET /tasks/change_state?project=trt1-226317&action=0&tagkey=cc&tagvalue=sleeping HTTP/1.1" - - http://default.trt1-226317.appspot.com/_ah/queue/deferred "AppEngine-Google; (+http://code.google.com/appengine)" "default.trt1-226317.appspot.com"

[2019-02-17 11:59] avivl commented on #52
@afahmymcd please send me your configuration and the logs for the time that zorya should have rub

[2019-02-19 14:12] chambodn commented on #46
Can be a little bit more tricky if you have multiple node-pools in your cluster but this feature will be useful, for sure !

[2019-02-20 07:44] chambodn opened #53 "Access Management"
I followed the installation procedure described in the README.md file and everything is working fine (thanks a lot for this very useful app by the way).
However, my URL is now accessible without any Authentication/Authorization mechanism and I was wondering if something can be done either at the application level or directly using the IAM configuration in GCP?

[2019-02-20 08:06] chambodn commented on #53
Oups, my bad, I just realized that you recommend using Cloud Identity Proxy...

[2019-02-20 08:06] #53 closed

[2019-02-28 13:06] liveashish opened #54 "External IP gets unassigned after restart"
After restarting a VM external IP gets removed from the VM. I understand that GCE assigns random IP when you restart a VM, but I could not see any IP assigned to the VM.

Can you confirm from your end once?

[2019-02-28 13:26] avivl commented on #54
Is this VM a part of a GKE cluster?

[2019-02-28 16:02] liveashish commented on #54
No, it's not attached to GKE

[2019-02-28 17:10] liveashish opened #55 "Timezone Issue"
Timezone for Asia/Calcutta or Asia/Kolkata does not work properly. The hourly crons check in UTC.

[2019-02-28 17:36] avivl commented on #54
Kube ip only works on gke

[2019-03-03 06:13] avivl commented on #55
Cron check every hower. Action will be taken upon the configured time

[2019-03-03 06:14] #54 closed

[2019-03-03 06:14] #44 closed

[2019-03-07 13:49] chambodn commented on #46
Any update on this feature request?

[2019-03-07 13:56] avivl commented on #46
@duprefm @chambodn , we would like to start work on this.
Can you please define the requested behavior fro all use cases?

[2019-03-08 02:18] #55 closed

[2019-03-08 06:41] chambodn commented on #46
A first try:

**Configuration Path**
1. In Zorya UI I define a new policy "type" for GKE cluster based on the same mechanism already in place with VM (i.e. defining a label/tag to identify the targeted clusters and associating a schedule).
2. I add a label for my GKE cluster(s)

**Execution Path**
Zorya is triggered and lists all the node-pools defined in the eligible cluster(s).

_STATE changed f

[2019-03-09 22:31] duprefm commented on #46
Because is sometimes long to shutdown/startup K8s clusters with multiples 'node pool'. I'm using a python script who shutdown/startup k8s clusters using 'instances groups' resizing commands. You may use and adapt this script to Zorya.

`
import base64
from pprint import pprint
import json
from googleapiclient import discovery
from oauth2client.client import GoogleCredentials

credentials = GoogleC

[2019-03-28 14:35] #52 closed

[2019-03-28 14:36] #45 closed

[2019-04-08 15:55] duprefm commented on #46
[schedulegcp_k8s.zip](https://github.com/doitintl/zorya/files/3055173/schedulegcp_k8s.zip)
Can somebody will help me to implement instances_group.py script in zorya ?

[2019-04-15 11:55] duprefm commented on #46
Now i'm able to schedule shutdown/startup of GCP 'instance groups' using my fork of Zorya.

[2019-04-15 11:55] #46 closed

[2019-04-15 12:19] spark2ignite commented on #46
@avivl FYI.

[2019-04-24 10:27] avivl commented on #48
Nothing in the logs

[2019-04-24 10:27] #48 closed

[2019-04-24 10:27] avivl commented on #47
@Dror88 or @taltultc  can you give it a look?

[2019-04-25 05:22] #13 closed

[2019-04-25 05:59] avivl opened #57 "Support instance groups"

[2019-04-25 06:23] #57 closed

[2019-07-01 16:09] nchicong opened #59 "Feature request: Display Name"
We usually put the Schedule & Policy name related to the time we plan for the schedule. E.g: up-9am-10pm-workdays, up-8am-1am

This timing might change a bit after some time, if there is a field like Display name that we can change anytime, it would be helpful as the Policy Name and Schedule Name is like primary key in DB and can't be changed.

Please let me know if I should attach a screenshot fo

[2019-07-02 05:50] avivl commented on #59
@Dror88 can you take it from here?
I added the backend support https://github.com/doitintl/zorya/commit/b8bbf79a1728569a0ac2e0ae1bc4e56a3636d80f

[2019-07-05 01:17] lsta opened #60 "successful install, but unable to make successful POST request, only GETS"
Hi

I managed to get this installed successfully using your deploy script, I'm able to browse to the app and get served pages without error.

However I cannot make any changes, add a schedule, or a policy, and when I do so it's logging error 500:

example error when I'm trying to save a schedule:

[code]

[code]

[code]

any suggestions? Cheers

[2019-07-08 05:16] avivl commented on #60
Are you running on the standard or flex app engine?

[2019-07-09 01:05] lsta commented on #60
its running on standard. not that I chose that... the deployment script did everything... does it need to be on flex?

[2019-07-09 06:24] avivl commented on #60
Zorya was only tested on APP engine standard.
Did you run `pip install -r requirements.txt -t lib` before deploying?

Such comments are not very helpful. And yes, in fact, people are using this in production

[2019-07-09 06:32] lsta commented on #60
yes i copied those and all instructions to the letter.

apologies, just a little frustrated as the blog entry reads as though this should be simple and easy and I've found it anything but.

I'll try yet again with a fresh OS.

[2019-07-09 09:41] #60 closed

[2019-07-14 13:55] nchicong commented on #59
Thank you guys.

@Dror88 Please take a look if you can have some time.

[2019-09-08 08:23] avivl opened #61 "Support GKE clusters"

[2019-09-09 07:42] #61 closed

[2019-10-31 01:47] nchicong commented on #59
Would be great if this can be implemented at front-end side.

[2019-12-15 14:40] avivl opened #63 "Upgrade to python 3.xx"
1. Upgrade code
2. Upgrade datastore and migrate

[2019-12-19 06:15] #63 closed

[2020-04-14 23:02] julian21olarte opened #79 "GKE not work"
I've installed Zorya successfully on GAE, I've created a schedule with all hours off and a policy using that schedule, I've added my project id and the tag env:dev to the policy (and i have a GKE cluster with that tag), the logs shows that the /tasks/schedule route is called fine, but nothing happens, maybe is any problem on my configuration, but I would like someone help me please

[2020-04-15 05:20] spark2ignite commented on #79
@eranchetz can you please look into this?

[2020-04-15 15:35] julian21olarte commented on #79
Hello again, I have fixed my previous issue testing with another schedule (I understand now how the schedule works, testing with all hours off will not work because the state between hours not happens), I get now the change_state function call in logs, but I'm having now a new issue in this function, seems like something is happening with resourceLabels:

2020-04-15 15:17:18 default[20200414t14322

[2020-04-16 07:08] eranchetz commented on #79
@julian21olarte I am glad you had progress, let me investigate that and get back to you

[2020-04-16 12:43] julian21olarte commented on #79
@eranchetz Hi, how are you? I think that i got fixed the issue, basically is because there is a code line that print the cluster using a key 'resourceLabels', but it fails when any cluster hasn't labels, I could make a PR just moving the print inside the next conditional validation if you want (that worked for me), and I would recommend add a little more info related to the schedule state change (

[2020-04-16 14:12] eranchetz commented on #79
Thanks @julian21olarte I see you made a pull request #80 let me review it and update you.
Thanks a lot for the effort on this  🚀

[2020-04-19 08:15] eranchetz commented on #79
Hey @julian21olarte I have merged your code change, thank you very much

[2020-04-19 08:15] #79 closed

[2020-04-23 13:52] julian21olarte opened #81 "GKE sometimes dont stop instance-groups"
Hi, sometimes Zorya dont stop the clusters (instance-groups), I have added some prints to check what is happening and I could see that the function in gcp/gke.py:
`no_of_nodes = gcp.get_instancegroup_no_of_nodes_from_url(
      url
)`
usually return the instance-group size zero, then Zorya not work because it cant resize to zero a instance-group that already has zero nodes.... to fix that temporal

[2020-04-26 08:10] eranchetz commented on #81
@julian21olarte thanks for finding this, let me try and reproduce this on my local environment and see if I get the same results.

[2020-05-06 08:44] hungpv29 commented on #81
I have some questions:
- If Minimum size in the node-pool is >0 the resize action will probably fail
- If autocscaling is on in the node-pool, I do not know what will happen with the reduction size command

[2020-05-06 09:17] hungpv29 opened #82 "GKE Scheduler"
I have some questions:

- If Minimum size in the node-pool is >0 the resize action will probably fail

- If autocscaling is on in the node-pool, I do not know what will happen with the reduction size command

[2020-05-06 14:20] eranchetz commented on #82
@hungpv29 thanks for your questions:
1. zorya is changing the size of the underlying managed instance group and not the node pool itself, as far as I tested even if the minimum number is >0 it still works.

2. It is not recommended to use auto-scaling with zorya as it will probably scale the VM back up (it's is managed by GKE Cluster Autoscaler)
If auto-scaling is a must, I suggest using [Kube-Dow

[2020-05-28 09:03] eranchetz opened #84 "Add support for GAE Flex"
This can be done manually The commands passed by the team are the following ones :

stop::
[code]
start:
[code]

The only mandatory parameter is the version id also, it's recommended to provide a service name to not stop every service that include the given version id and of course the project id on which the app is hosted.

The service name can be retrieved by labelling services on GAE and listin

[2020-06-02 07:17] eranchetz opened #85 "Review removing lookback to previous state"
currently we only change state in case the previous state is different,
we need to understand if it's needed, if not let's remove it.

[2020-06-10 10:56] tangel0v opened #87 "Where does Zorya save state?"
Hi, I am trying to understand better how Zorya works and I have a big doubt. Where is Zorya storing the previous stare of a GKE cluster?

I don't understand how it's doing the power up of the virtual machines as it seems to not be stored.

Thank you very much.

[2020-06-10 11:11] tangel0v commented on #87
I have seen it. In Datastore, I'll going to close this issue.

[2020-06-10 11:11] #87 closed

[2020-06-10 11:11] eranchetz commented on #87
Hey @tangel0v we should probably better document the internal workings of Zorya as you are not the first on to  ask (I will soon open another issue to improve documentation).

[2020-06-24 17:21] kalyanramu opened #88 "Add support for multiple services"
in app.yaml in github, add
servicename : zoryascheduler

This will not override any default services and create a new service/app. This should be a simple update.

[2020-06-26 18:49] jwjohns opened #89 "Doesn't seem to run state change or log anything regarding those steps."
I've deployed twice to two different projects. Runtime is python 3.7, tags set, IAM perms set.

But when the cron hits /tasks/schedule I get a 200 response but then no more logs or information. I've used log viewer and also streamed the logs with gcloud sdk.

Somewhere between the 200 response and the /tasks/state_change I think something is breaking, though without it populating the logs i cant t

[2020-06-28 10:29] eranchetz commented on #89
Hey @jwjohns
1. Please notice that state_change is only called if there is a state change between current state and previous state (i.e. from gray to green or vice versa)

2. We are also working on improving the logging and hopefully will release an update soon

as usual PRs for improvements are always welcome

[2020-06-28 10:36] eranchetz commented on #88
@kalyanramu I agree it's best to deploy application as a different service (and not default)
however, if some has already deployed Zorya and will  deploy with the new service name he will have  2 instances running.

I think it's better to document this and let people choose a service name manually.

WDYT?

[2020-06-29 15:50] jwjohns commented on #89
I understand it would only run on a state change. That is my issue.

- instance is tagged with the proper key/value pair
- instance is running
- schedule set for always off

the issue is my instance never shuts down. IAM permissions are appropriately setup as well. it seems like during the policy checker method it is failing to find the policies, which I verified are present in datastore.

I would

[2020-06-29 16:04] jwjohns commented on #89
Im not seeing any of the logging.info() entries from the schedule function.

But there is a schedule, set to always off. A policy using that schedule, and an instance labeled with the key/value pair from the policy. Iam perms for compute were added to the app engine default SA running the zorya install as the default app. All is setup within the same project.

cron exists as well as the cloud task

[2020-06-30 09:02] eranchetz commented on #89
Thanks for the info @jwjohns,
can you please share a screenshot of your schedule?
I will also try to reproduce the issue on my local environment

[2020-07-01 12:10] jwjohns commented on #89
<img width="1375" alt="Screen Shot 2020-07-01 at 8 07 16 AM" src="https://user-images.githubusercontent.com/248530/86242122-2f276c00-bb72-11ea-83fe-10913d07948e.png">
<img width="813" alt="Screen Shot 2020-07-01 at 8 07 37 AM" src="https://user-images.githubusercontent.com/248530/86242130-32225c80-bb72-11ea-94b6-241e583596f7.png">
<img width="126" alt="Screen Shot 2020-07-01 at 8 10 24 AM" src="ht

[2020-07-01 22:39] jwjohns commented on #89
[code]

not sure if this helps but I imported the tasks lib on the CLI and it appears the policy does get found by the module.

[2020-07-02 10:33] eranchetz commented on #89
@jwjohns
1. from the looks of your schedule state_change will never be called, you have to make a change in state (you can change the state and run the AppEngine cron manually for testing.
1. I am adding @eladshabi here, @eladshabi can you please let us know if this issue reproduces on your environment?

[2020-07-02 11:37] jwjohns commented on #89
I was thinking the Machine being on, and then the schedule set to off would be the state change.

You're saying I should have the schedule on, then a change to off while the machine is running?

[2020-07-02 12:00] eranchetz commented on #89
Yes, states are only Zorya states and not actual machine state.

On Thu, Jul 2, 2020 at 2:37 PM Justin W. Johns <notifications@github.com>
wrote:

[2020-07-02 16:43] jwjohns commented on #89
I see. It worked once updated with a running time frame while the machine was running, then also a stopped time period.

Worked as expected.

I want to apologize for the time wasting and also let you know I appreciate your time and efforts in helping! Thank you!

[2020-07-02 16:51] #89 closed

[2020-07-09 15:13] Zyrox-pixel opened #92 "Implementation of filtering for project display management by google user"
In the context of an organization, if a google user does not have access to a project then he should only see his projects and not the others

For example in an organization with 10 projects, if the user xxxxx@gmail.com has the right to only 4 projects, then after being authenticated on Zorya he should only see his 4 projects

[2020-07-15 10:55] eranchetz commented on #92
Hey @Zyrox-pixel thanks for the feedback, currently Zorya is authenticating with the default service account, this can be changed easily [see docs here](https://github.com/doitintl/zorya#authentication).
We currently have no plans to implement user access polices or IAM into Zorya, my suggestion would be to deploy single instance of zorya into each project with specfic permissions to that project.

[2020-07-21 09:23] Zyrox-pixel commented on #92
Hello @eranchetz  Thank you for your feedback.

At the moment there is only one default service account used by this application and I would like that following the authentication via IAP, that the application authenticates with the user's service account not the default appspot service account.

How would you suggest that I implement this ?

[2020-08-07 01:35] okiirawan commented on #81
@eranchetz Is there any workaround for this issue?

[2020-08-07 07:17] eranchetz commented on #81
@okiirawan we are working on that, hopefully we will have an update soon

[2020-10-21 16:43] antoinecastex opened #96 "Minimum permissions"
Hello Team DoIt !

Hope you are doing well ?

Here we are deploying Zorya globally to manage the VMs and also the Cloud SQL instances & GKE Cluster, that's nice !

We just have a question regarding permission for theses 3 products

What's the minimum permissions (can be created under custom role) for that ? Because for example Compute Instance Admin v1 seems to be big just for start and stop vms ?

[2020-10-22 06:44] eranchetz commented on #96
Hey @antoinecastex we definitely agree the "least privilege" is concept we should implement, we'll start working on this shortly, I'll keep this udpated with our progress.

[2020-11-09 11:30] eranchetz commented on #96
Hey @antoinecastex thanks for the patience, it took us longer than expected 😅

First a **Warning**:
You can of course only use the default appengine service account (<project-name>@appspot.gserviceaccount.com), so you will need to take this into consideration if other appengine applications are deployed in this project that it will affect them as well.

This is what we did:
 1. Created a custom ro

[2020-11-10 07:43] antoinecastex commented on #96
It's done and that's work very well

thanks @eranchetz

[2020-12-01 10:33] DevOps9494 opened #98 "Problem to restart SQL instances"
Hello, I am facing a problem, zorya manages to shut down my cloudSQL instances but cannot restart them, does anyone have an explanation?

[2020-12-02 08:30] eladshabi commented on #98
Hello @DevOps9494, can you please attached the logs from the specific time you encounter this issue?

[2020-12-02 08:54] DevOps9494 commented on #98
Hello @eladshabi  Thanks for your feedback,

The problem is with the log, we can see that it goes to 1, but the instance does not restart:

No organization level SQL instances start, it is only possible to shut them down.

Log :

"A 2020-12-02T08:00:11.943899Z Conditions are met, Nothing should be done for test-2
  undefined
A 2020-12-02T08:00:11.994386Z Previous state 1 current 1
  undefined"

[2020-12-02 10:30] DevOps9494 commented on #98
Ps: It seems that the problem is with the code of the application, because I just redeployed the zorya project, and it is only able to turn off and not turn on the cloud SQL, (ps you also have to put update the pythons library ndb which is not compatible)

[2020-12-02 10:57] eladshabi commented on #98
Thanks for the information @DevOps9494, can you please attach a screenshot of your schedule from the Zorya UI?

[2020-12-02 11:11] DevOps9494 commented on #98
Hello, @eladshabi you will find attached the screen (logs, policy, schedule) on a test project :
![policy](https://user-images.githubusercontent.com/75307982/100865268-67233a00-3497-11eb-90a9-52e7909d7572.PNG)
![status_SQL](https://user-images.githubusercontent.com/75307982/100865270-67bbd080-3497-11eb-8fd5-250405b0b40f.PNG)
![test](https://user-images.githubusercontent.com/75307982/100865273-67bb

[2020-12-02 11:16] eladshabi commented on #98
@DevOps9494 Thanks, do you run the default Zorya version (master)?

[2020-12-02 11:18] DevOps9494 commented on #98
@eladshabi Yes, this is the master version.

[2020-12-02 12:38] eranchetz commented on #96
Hey @antoinecastex I don't know if you are using Zorya for CloudSQL, but it seems we were missing one permission:
`cloudsql.instances.get`

I have also added it above and I will document it later on.

[2020-12-02 13:03] eladshabi commented on #98
Hi @DevOps9494 , after checking this on my side, I didn't encounter this issue. I believe what you are experiencing is trying to change the state compared to the CloudSQL instance state and not comparing it to the Zorya state.

Zorya change states based on the schedule you have configured on the UI and not by the instance state. For example, if the previews hour marks as gray and the current hour

[2020-12-02 13:27] DevOps9494 commented on #98
Thank you for your prompt feedback   @eladshabi !

What I did to carry out my tests without wasting time is that I defined a schedule for example off today 2pm all instances of the test-23 project (gray boxes)

To check the correct functioning, I executed the cron job directly from the google interface, the instances are well off, then I go back to the green boxes for 2 p.m., in order to reboot th

[2020-12-02 13:48] eladshabi commented on #98
@DevOps9494 if I understood the example correctly, when you are triggering the corn job to start your instances, you need to change the previews hour (1 p.m) from green to gray and the current hour (2 p.m) to green and then execute the corn job.

[2020-12-02 15:39] DevOps9494 commented on #98
Hello @eladshabi,

Thanks for your help and your prompt feedback !

It work !

[2020-12-02 19:48] antoinecastex commented on #96
@eranchetz  i'm not using for CloudSQL from now but thanks for the information

[2020-12-03 08:16] #98 closed

[2021-05-05 17:22] bkw commented on #84
Solution exists in #91

[2021-05-06 08:55] bkw opened #107 "No feedback for input validation"
When input validation for Schedules and Policies fails, the only feedback currently supplied is a red frame.
A more descriptive message would be usefull.

[2021-05-06 08:58] bkw opened #108 "No feedback for backend errors"
Failing or rejected backend calls currently give no feedback in the gui. At least some generic feedback to check the logs would already be better than noting at all.

[2021-05-07 15:05] bkw commented on #85
Interesting idea. Any idea how to represent this ? A flag in the policy?

[2021-05-09 13:54] #47 closed

[2021-05-20 12:50] #59 closed

[2021-05-22 12:17] #108 closed

[2021-05-22 12:17] bkw commented on #107
I believe this is sufficiently addressed now.

[2021-05-22 12:17] #107 closed

[2021-05-22 12:20] #84 closed

[2022-04-13 13:44] andy-berger opened #131 "Error "Bad Gateway" in the web GUI"
Right after deploying Zorya when I visit the Zorya web GUI, I'm getting the error "Listing failed: <html> <head><title>502 Bad Gateway</title> ..."
Also when I click on "Create schedule" for example, I'm getting the error "Loading timezones failed: <html> <head><title>502 Bad Gateway</title> ..."

I did check the installation requirements, known issues, enablement of GCP APIs and that Zorya's serv